.git/
assets/
bin/
deploy/
node_modules/
remove/
scripts/
tls/
*.log
*.tmp
.dockerignore
.golangci.yaml
.lazy.lua
.pre-commit-config.yaml
.prettierrc
Dockerfile
Makefile
README.md
docker-compose.yml
eslint.config.mjs
package.json
pnpm-lock.yaml
pnpm-workspace.yaml
stylelint.config.mjs
