{{ define "help" }}
<div class="modal" id="modal-help-app">
  <div class="modal-base modal-help">
    {{ template "btn-back" }}
    {{ template "btn-close" }}
    <div class="modal-header">
      <h3 class="modal-title">Keybinds Help</h3>
    </div>

    <!-- Help Modal -->
    <div id="modal-help-content">
      <div class="modal-help-content"></div>
    </div>

  </div>
</div>
{{ end }}
