{{ define "btn-side-menu" }}
<!-- Hamburger Menu Button -->
<button class="hamburger-btn" id="btn-hamburger">
  <div class="hamburger-line"></div>
  <div class="hamburger-line"></div>
  <div class="hamburger-line"></div>
</button>
{{ end }}
